$green: #006a6e;
$khaki: #B5AA9D;
$ash: #B9B7A7;
$footer-background-color: $green;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

form.box {
  .button {
    background-color: $green;
    color: whitesmoke;
  }
}

section {
  background-color: $ash;
}

.footer {
  background-color: #006a6e;
}


/* #006a6e my green */
/* B5AA9D khaki */
/* B9B7A7 ash grey */
